apiVersion: batch/v2alpha1
kind: CronJob
metadata:
  name: etcd-backup
  namespace: kube-system
spec:
  # Run everyday at 3AM.
  schedule: "{{ .Values.Installation.V1.Infra.EtcdBackup.CronSchedule }}"
  successfulJobsHistoryLimit: 2
  failedJobsHistoryLimit: 2
  jobTemplate:
    spec:
      # Job timeout
      activeDeadlineSeconds: 120
      template:
        spec:
          tolerations:
          # Tolerate master taint
          - key: node-role.kubernetes.io/master
            operator: Exists
            effect: NoSchedule
          # Container creates etcd backups.
          # Run container in host network mode on G8s masters
          # to be able to use 127.0.0.1 as etcd address.
          # For etcd v2 backups container should have access
          # to etcd data directory. To achive that,
          # mount /var/lib/etcd3 as a volume.
          nodeSelector:
            # We need to switch to proper label below
            # when all clusters will have one.
            #
            # node-role.kubernetes.io/master: ""
            role: master
          serviceAccountName: etcd-backup
          containers:
          - name: etcd-backup
            # Use latest tag as w/a for https://github.com/giantswarm/architect/issues/135
            image: quay.io/giantswarm/etcd-backup:[[ .SHA ]]
            args:
            - -prefix={{ .Values.Installation.V1.Infra.EtcdBackup.ClusterPrefix }}
            - -provider={{ .Values.Installation.V1.Provider.Kind }}
            - -etcd-v2-datadir=/var/lib/etcd
            - -etcd-v3-endpoints={{ .Values.Installation.V1.Infra.EtcdBackup.EtcdEndpoints }}
            - -etcd-v3-cacert=/certs/{{ .Values.Installation.V1.Infra.EtcdBackup.ClientCaCertFileName }}
            - -etcd-v3-cert=/certs/{{ .Values.Installation.V1.Infra.EtcdBackup.ClientCertFileName }}
            - -etcd-v3-key=/certs/{{ .Values.Installation.V1.Infra.EtcdBackup.ClientKeyFileName }}
            - -aws-s3-bucket={{ .Values.Installation.V1.Infra.EtcdBackup.S3Bucket }}
            - -aws-s3-region={{ .Values.Installation.V1.Infra.EtcdBackup.S3Region }}
            volumeMounts:
            - mountPath: /var/lib/etcd
              name: etcd-datadir
            - mountPath: /certs
              name: etcd-certs
            env:
              - name: ETCDBACKUP_AWS_ACCESS_KEY
                valueFrom:
                  secretKeyRef:
                    name: etcd-backup
                    key: ETCDBACKUP_AWS_ACCESS_KEY
              - name: ETCDBACKUP_AWS_SECRET_KEY
                valueFrom:
                  secretKeyRef:
                    name: etcd-backup
                    key: ETCDBACKUP_AWS_SECRET_KEY
              - name: ETCDBACKUP_PASSPHRASE
                valueFrom:
                  secretKeyRef:
                    name: etcd-backup
                    key: ETCDBACKUP_PASSPHRASE
          volumes:
          - name: etcd-datadir
            hostPath:
              path: {{ .Values.Installation.V1.Infra.EtcdBackup.EtcdDataDir }}
          - name: etcd-certs
            hostPath:
              path: {{ .Values.Installation.V1.Infra.EtcdBackup.ClientCertsDir }}
          # Do not restart pod, job takes care on restarting failed pod.
          restartPolicy: Never
          hostNetwork: true
          imagePullSecrets:
          - name: etcd-backup-pull-secret
